<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jeu des Films</title>
  <style>
    .login-button,
    .logout-button {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 10px 20px;
      background-color: #007BFF;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
      font-size: 16px;
    }

    .login-button:hover,
    .logout-button:hover {
      background-color: #0056b3;
    }

    main {
      margin-top: 50px;
    }
  </style>
</head>

<body>
  @if (isAuthenticated)
  <a href="/logout" class="logout-button">Se déconnecter</a>
  @else
  <a href="/login-page" class="login-button">Se connecter</a>
  @end

  <main>
    <h2>Score : <span id="score">{{ score }}</span></h2>
    <h2>{{ movieSelected.emojis }}</h2>
    <form action="/movies/check" method="POST">
      {{ csrfField() }}
      <div>
        <label for="user_answer">Votre réponse :</label>
        <input type="text" id="user_answer" name="user_answer" required />
      </div>
      <button type="submit">Valider</button>
    </form>
  </main>
</body>

</html>
